.navbar {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: #333A3F;
    margin-top: -1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    margin-left: 8rem;
    padding-top: 1rem;
}

.rightMenusContainer {
    display: flex;
    justify-content: right;
    margin-top: -4rem;
    margin-right: 10rem;
}

.menuContainer {
    display: flex;
    margin-top: 1.2rem;
}

.menus {
    list-style: none;
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: rgb(163, 159, 159);
    font-size: 1.1rem;
}

.searchButton {
    margin-left: 0rem;
}

.searchBox {
    margin: 0.7rem 0.3rem 0.6rem 0.13rem;
    padding: 0.7rem 1rem 0.6rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    outline: none;
}

input::placeholder {
    font-size: 1rem;
    margin-top: 0.5rem;
}

input[type="text"] {
    font-size: 1rem;
}

#searchButton {
    background-color: rgb(154, 151, 151);
    color: white;
    font-size: 1rem;
}